.one {
    padding: 10px;
    border-bottom: 2px solid rgb(248, 0, 0);
    color: red;
    margin: 10px 0;
    background-color: rgb(254, 103, 103);
}

.two {
    padding: 10px;
    border-bottom: 2px solid blue;
    color: blue;
    margin: 10px 0;
    background-color: rgb(90, 169, 253);
}

.three {
    padding: 10px;
    border-bottom: 2px solid green;
    color: green;
    margin: 10px 0;
    background-color: rgb(115, 201, 115);
}

.one,
.two,
.three {
    padding: 10px;
    margin: 10px 0;
}