div {
    background-color: rgb(102, 159, 141);
    /* top right bottom left */
    /* 10% 10% 10% 10%*/
    padding: 10%;
    /* 10% 20% 10% 20% */
    padding: 10% 20%;
    /* 10% 20% 15% 20% */
    padding: 10% 20% 15%;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    /* PADDING:controls the space inside the element, affectiing its internal layout */
    /* space */
    margin: 30px;
    /* 30px 30px 30px 30px*/
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /*MARGIN:controls the space outside the element, effectingbhow it interacts with other elements*/
    /* space */
    border-style: solid double;
    border-width: 10px;
    border-color: rgb(64, 100, 80);
    border: 10px solid rgb(64, 100, 80);
    /* outline */
    outline: 10PX dotted rgb(36, 68, 53);
}