div {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: powderblue;
    border-radius: 30px;
}

/* H-Shadow V-Shadow Blur Spread Color Inset*/
p {
    width: fit-content;
    height: fit-content;
    margin: 50px auto;
    background-color: rgb(255, 179, 225);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(255, 93, 220);
}